@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f0f2f5;
  place-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
}

/* button */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  width: 140px;
  height: 44px;
  color: #5a5a5a;
  border: 1px solid #dedede;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #20dc49;
}
button:focus,
button:focus-visible {
  outline: 4px auto #20dc49;
}
/* button */

/* button-action */
.button-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  height: 70px;
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}
.button-action:hover {
  background-color: #20dc49;
  border-color: #20dc49;
  color: black;
}
.button-action:focus,
.button-action:focus-visible {
  outline: 4px auto black;
  color: black;
}
/* button-action */

/* input */
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  height: 70px;
  padding: 0.6em 2em;
  border-radius: 8px;
  color: #5A5A5A;
  border: 1px solid #dedede;
  background-color: #fff;
  transition: border-color 0.25s;
}
.input:hover {
  border-color: #20dc49;
}
.input:focus,
.input:focus-visible {
  outline: 4px auto #20dc49;
}
.input img {
  width: 20px;
}
input {
  width: 80%;
  border: none;
  outline: none;
  padding: 0.6em 0;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  }
/* input */

@media screen and (max-width: 500px) {
  body {
    height: auto;
    margin: 50px 0;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  
}